/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root{
    --primaryDark:#1A1A1A;
    --primaryLight:#DAED06;
    --generalHeight:45px;
    --generalRadius:7px;
}

::-webkit-scrollbar{
    background-color: var(--primaryDark);
    width: 10px;
    border-radius: var(--generalRadius);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primaryLight);
    border-radius: var(--generalRadius);
}

body{
 margin: 10px;
 padding: 0px;
}
.btnPrimary{
    background-color: var(--primaryDark);
    transition: linear;
    padding: 10px;
    height: var(--generalHeight);
    color: white;
}


.btnPrimary:hover{
    transition: 0.5s;
    border:none;
    background-color: var(--primaryLight);
    color: var(--primaryDark);
    font-weight: bold;
}

.btnPrimaryNav:focus{
    transition: 0.5s;
    border:none;
    background-color: var(--primaryLight);
    color: var(--primaryDark);
    font-weight: bold;
}


.inputLogoDisplay{
    width:50px;
}

.inputPrimary{
    width: 25em;
    height: var(--generalHeight);
    transition: linear;
}

.inputPrimary:active{
    border-color: var(--primaryLight);
}


.tableProp{
    height: 40vh;
    width: 20vw;

}


.dropdownContainer{
    min-width: 300px;
    height: 25vh;
    overflow: auto;
    z-index: 1;
}

.dropdownItems{

    transition: linear;
    overflow-y: auto;
}

.dropdownItems:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: var(--primaryLight);  
    font-weight: bold;
    border-radius: var(--generalRadius);
}

.trHover:hover{
    cursor: pointer;
    background-color: var(--primaryLight);
    color: var(--primaryDark);
}